.logo {
    height: 150px;
    opacity: 1;
}

.logo:hover {
    opacity: 0.5;
}

.error {
    color: red;
}

.result {
    text-align: center;
    margin: auto;
}

footer {
    text-align: center;
    margin: auto;
}

.estimate {
    text-align: center;
    margin: auto;
}

.message {
    text-align: center;
    margin: auto;
}